body
{
    margin-left: 2%;
    margin-top: 3%;
}

h1{
    text-align: center;
}

.caja-central{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.btns{
    width: 320px;
    height: 100px;
}

